# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Composer
vendor/
*.phar

# Build outputs
/build/
/dist/
/temp-*/

# OS files
.DS_Store
Thumbs.db
ehthumbs.db
Icon?

# IDE/project files
.vscode/
.copilot/
.idea/
*.sublime-workspace
*.sublime-project

# Archives
*.zip
*.tar.gz

# Other files
*.sql
*.ps1

# Misc
*.log
